@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);

  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  -fs-inputs: 24px;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

p {
  font-size: small;
}
